
@{
    ViewBag.Title = "客户申请页面";
}

<form action="" method="post" id="clientApplyForm" class="clientApplyForm">
    <table border="0">
        <tr>
            <td class="form-label">姓名：</td>
            <td>
                <input type="text" name="usernmae" id="username" class="input-text" maxlength="20">
            </td>
        </tr>
        <tr>
            <td class="form-label">性别：</td>
            <td>
                <input type="radio" name="sex" value="男" id="sex1" checked><label for="sex1" style="padding-left:10px;">男</label>
                <input type="radio" name="sex" value="女" id="sex0" style="margin-left:30px;"><label for="sex0" style="padding-left:10px;">女</label>
            </td>
        </tr>
        <tr>
            <td class="form-label">联系电话：</td>
            <td>
                <input type="text" name="phone" id="phone" class="input-text" maxlength="18">
            </td>
        </tr>
        <tr>
            <td class="form-label">现居住城市：</td>
            <td>
                <input type="text" name="address" id="address" class="input-text" maxlength="200" onfocus="openCityPicker(event)">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <span id="online_apply_btn" onclick="clientApplyClickEvent()">提交</span>
            </td>
        </tr>
    </table>
</form>