@{
    ViewBag.Title = "详细地址";
}

<style>
    .address-wrap {
        background-color: #EDEDED;
        height: 500px;
        padding-top:30px;
    }
    .address-content {
        margin-top: 30px;
        background-color: #FFF;
        width: 1010px;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        color: #868080;
        line-height:1.8em;
        height:430px;
        padding-top:40px;
    }

    .address-content p.address-title {
        color: #FF0000;
        padding-bottom:50px;
    }
</style>

<section class="address-wrap">
    <section class="address-content">
        <img src="/Images/detail_address.png" alt="" />
        <p class="address-title">征信授权书寄到吉信金融总部</p>
        <p>地址 / 广东省深圳市福田区华富路中航中心25楼吉信金融</p>
        <p>邮编 / 518000</p>
        <p>收件人 / 肖燕群</p>
        <p>电话 / 0755-66862203</p>
    </section>
</section>