@{
    ViewBag.Title = "操作指引";
}

<style>
    .guid-wrap {
        height: 530px;
        background-color: #EDEDED;
        padding-top:50px;
    }

    .guid-inner{
        width:1010px;
        margin:0 auto;
        /*background:url('/Images/app-guid.png');
        background-repeat:no-repeat;
        background-size:contain;*/
    }

    .guid-inner img{
        /*padding:90px 30px 0px 0px;*/
    }
</style>
<section class="guid-wrap">
    <section class="guid-inner">
        <img src="/Images/app-guid.png" alt="App操作指引" height="100%" width="100%" />
    </section>
</section>